{% extends "profile/home.html" %}
{% block "booking" %}
{% endblock %}
{% block content %}
<!-- <div class="container mt-5">
    <h3>Confirm Booking</h3>
    <p><strong>Service:</strong> {{ service.s_name }}</p>
    <p><strong>Description:</strong> {{ service.s_description }}</p>
    <p><strong>Price:</strong> ₹{{ service.s_price }}</p>
    <p><strong>Electrician:</strong> {{ service.e_id.e_fullname }}</p>
    <p><strong>Qualification:</strong> {{ service.e_id.e_qualification }}</p>

    <form action="{% url 'view_booking' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Confirm Booking</button>
    </form>
    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %} -->
