
{% extends "admin_dashboard.html" %}

{% block content %}
<h1>Users Tables</h1>
<table id="users-table" class="table table-bordered table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Update</a></th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.c_id }}</td>
            <td>{{ customer.c_fullname }}</td>
            <td>{{ customer.c_login_id }}</td>
            <td>{{ customer.c_email }}</td>
            <td>{{ customer.c_address }}</td>
            <td>{{ customer.c_contact }}</td>            
            <td><a href="{% url "admin_app:update_user" customer.c_id %}" class="btn btn-info" id="update_user">Update</a></td>
            <td><a href="{% url "admin_app:delete_user" customer.c_id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a></td>             
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    
                                